
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

.container{
    width: 1140px;
    margin: 0 auto;
     padding: 0 15px;

}

.section{
    padding: 60px 0;
}

.section-title{
    text-transform: uppercase;
    text-align: center;
}

.header{
    background-color:  #174180;

}

header a{
    color: #fff;
    text-decoration: none;
}

.header-navigation{
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 28%;
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.header-menu{
    width: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-menu-item{
    display: inline-block;
}

.header-menu-link{
    line-height: 16px;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.4s;
}

.header-menu-link:hover{
    /* background-color: var(--accent-light); */
    background-color: rgb(98, 129, 196);

}

.intro{
    padding: 60px 0;
}

.intro-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.intro-left{
    width: 30%;
}

.intro-img{ 
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.intro-right{
    width: 60%;
}

.intro-text{
    width: 60%;
}

.intro-right h1,h3{
    margin: 0 0 10px;
}

.contacts{
    margin-bottom: 60px;
}

.contacts ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts li{
    text-align: center;
}

.skills{
    /* padding: 60px 0; */
    color: #fff;
    background-color: #174180;
}

.skills ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills li{
  padding: 10px 15px; 
  background-color:  rgb(98, 129, 196);
  border-radius: 4px; 
}

.code-example{
    text-align: center;
}

.code-example p{
    font-style: italic;
}

.code-example b{
    font-style: normal;
}

.code-example pre{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.1em;
    color: #fff;
    background-color: #174180;
    border-radius: 8px;
}